/* ==========(Standard CSS)========== */
html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-image: url("https://res.cloudinary.com/cldean11/image/upload/v1567645069/FC901/texture-pattern-wallpaper_qkygh6.jpg");
    width: 100%;
    background-position: center;
    background-repeat: cover;
    background-size: auto;
    background-attachment: fixed;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* ==========(Mobile View & Slider Content)========== */
header {
    display: flex;
    align-items: center;
    color: white;
    position: fixed;
    top:0;
    padding: 5px 0;
    width: 100%;
    background:  #1b1b1b ;
}

#fc-901-logo-position {
    display: inline-flex;
    justify-content: flex-start;
    width: min-content;
    margin: 0;
    padding: 0 1em;
}

#fc-901-logo {
    width: 2.5em;
}

#nav-menu {
    padding: 0;
}

nav {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
}

nav li {
    display: inline-flex;
}

li {
    list-style: none;
    padding: .5em;
}

li:hover {
    animation: shake .6s;
}

@keyframes shake {
    0% { 
        transform: translate(3px, 3px); 
    }
    10% { 
        transform: translate(-3px, -3px); 
    }
}

a {
    display: inline;
    color: white;
    text-decoration: none;
    font-size: .8em;
}
a.hover {
    display:inline-block;
    position: relative;
  }

  .hover::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height:2px;
    bottom: 0;
    left: 0px;
    background: linear-gradient(to right,#cdcfd3,#ABADB2);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
    padding-bottom: 4px; 
    margin-bottom: 4px;
  }
  .hover:hover::before {
    transform: scaleX(1);
    transform-origin: bottom center;
  }



.team-transparent-img {
    display: block;
    margin: auto auto;
    width: 10em;
    padding: 5em 0 0 0;
}

table td{
    padding:.2em .3em;
}

.blue-date {
    color:#13b5eb;
}

.yellow-date {
    color:#ffce19;
}

.location {
    color: #ffffff;
}

.championship-logo {
    display: block;
    margin: auto auto;
    width: 5em;
}

#championship-logo-postition {
    padding: 3em;
}

@media (min-width:360px){
    table {
        border: 2px solid #13b5eb;
        font-size: .76em;
        width: 100%;
        height: auto;
        text-transform: uppercase;
        margin: 0 auto;
        padding: 1em;
        background: #1b1b1b;
    }
}

@media (min-width:400px){
    table {
        border: 2px solid #13b5eb;
        font-size: .8em;
        width: 80%;
        height: auto;
        text-transform: uppercase;
        margin: 0 auto;
        padding: 1em;
    }

    .team-transparent-img {
        display: block;
        margin: auto auto;
        width: 15em;
        padding: 5em 0 0 0;
    }
}

/* =====(Slider Content) */
.slide-show-heading{
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 1.8em;
}

.players {
    width: 180px;
    margin:  0 auto;
    display:flex;
    justify-content: space-between;
}
/*=====(GIVING CREDIT where its due)===== 
I would like to thank Amit kumar @smashtheshell and Chris Coyier @ Css tricks for their awesome tutorials on CSS Auto Sliders!
Could not have figured this one out without them!*/
.auto-slider{
    outline:1px solid  #ffce19;;
    display: block;
    text-align: center;
    width:170px;
    margin: 0 auto;
    padding: 0 auto;
    overflow-x:hidden;
    background-color: #1b1b1b;
}
  
.auto-slider-content{
    list-style:none;
    display:flex;
    justify-content: flex-start;
    margin: 0 0px;
    animation: slide 15s ease-in-out infinite;
    animation-duration:25s;
}
.spacing {
    /* I could have used ul and li's but I chose to use divs to see if I could do it a different way than smashtheshell */
    margin: 0 0px;
}
  @keyframes slide{
    10%, 15% {
      transform:translateX(0);
    }
    20%, 25%  {
      transform:translateX(-180px);
    }
    30%, 35% {
        transform:translateX(-365px);
      }
    40%, 45% {
      transform:translateX(-545px);
    }
    50%, 55% {
      transform:translateX(-725px);
    }
    90%{
      transform:translateX(0);
    } 
  }
  
/* =====Tablet View */
@media (min-width:800px){
    table {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5em;
        width: auto;
        height: auto;
        text-transform: uppercase;
        margin: 0 auto;
        padding: 3em 0;
    }

    
    .team-transparent-img {
        display: block;
        margin: auto auto;
        width: 30em;
    }

    a {
        display: inline;
        color: white;
        text-decoration: none;
        font-size: 1.3em;
        padding: .2em .5em;
    }

    .championship-logo {
        display: block;
        margin: auto auto;
        width: 10em;
        padding: 5em 0 0 0;
    }
}

/* ==========(Desktop View)========== */
@media (min-width:900px){
    table {
        border: 3px solid #13b5eb;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5em;
        width: auto;
        height: auto;
        text-transform: uppercase;
        margin: 0 auto;
        padding: 1em;
    }

    
    .team-transparent-img {
        display: block;
        margin: auto auto;
        width: 55em;
    }

    a {
        display: inline;
        color: white;
        text-decoration: none;
        font-size: 1.3em;
    }
    
    #fc-901-logo-position {
        display: inline-flex;
        justify-content: flex-start;
        width: min-content;
        margin: 0;
        padding: 0 3em;
    }

    #fc-901-logo {
        width: 3.5em;
    }

    table td {
        padding:.7em .3em; 
    }
}

